.error_container{
    margin-top: 65px;
    height:calc(100vh - 65px);
    background-color: #f9f9f9;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error_container h1{
    color: white;
    background-color: #0079d3;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: lighter;
}