.settings{
    position: absolute;
    top: 65px;
    right: 2%;
    background-color:var(--lightBackground);
    height:auto;
    width:20%;
    z-index:50;
    box-shadow: 0px -1px 7px 3px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.settings h3{
    margin-top: 20px;
}

.light_dark{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark_light{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height:28px;
  }
  
  .switch .mode { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--darkBackground);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    content: "OFF";
    color: var(--textColor);
    font-size: 0.625rem;
    height:22px;
    width: 25px;
    left: 4px;
    bottom:2px;
    background-color:var(--lightBackground);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .mode:checked + .slider {
    background-color: var(--buttonColor);
  }
  
  .mode:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  
  .mode:checked + .slider:before {
      content: "ON";
      color: var(--textColor);
      font-size: 10px;
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.users_settings{
    margin: 20px 0;
    font-weight: bold;
}
.users_settings p{
    display: block;
    margin: 1rem 0;
    font-size: 0.9375rem;
}
.users_settings a i{
    margin-right: 5px;
}
.users_settings a, .hey_{
    display: block;
    padding:15px;
    font-size: 0.875rem;
    border-radius: 5px;
    font-weight: 300;
}
.users_settings a:not(.darkk):hover,.hey_:hover{
    background-color:var(--darkBackground);
    cursor: pointer;
}

.hey_{
  margin: 0!important;
}

.myRange{
  margin:0 15px;
  width: calc(100% - 15px);
}

.logout{
    outline: none;
    border: none;
    color: white;
    font-size: 0.875rem;
    padding: 8px 12%;
    border-radius: 20px;
    margin-bottom: 2rem;
    width: 100%;
    padding: 8px 12%;
    background:var(--buttonColor);
}

.logout:hover{
  border: 1px solid var(--buttonColor);
  background-color:white;
  color: var(--textColor);
  cursor: pointer; 
}

.backBtn{
  display: none;
}


.helpItems{
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.helpItems section{
  height: 120px;
  width: 100%;
  background-color: var(--darkBackground);
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.helpItems section:hover{
  cursor: pointer;
}

.helpItems section i{
  margin: 0 5px;
}

.helpItems section p{
  color: var(--textColor);
}

.helpItems section p i{
  color: var(--textColor);
}

@media(max-width:1024px){

  .backBtn{
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100%;
  }
  .settings{
    top: 48px;
    right: 0;
    width: 100%;
    position: fixed;
    height: calc(100vh - 48px);
    box-shadow: none;
  }
}


